.debug *{
    border: 1px dotted black;
}

:root{
    --drop-white: #ffffff;
    --drop-lighter: #f8f9fa;
    --drop-light: #f7f7f7;
    --drop-dark: #e5e5e5;
    --drop-darker: #8d949a;
    --drop-black: #00000;
    --drop-bg-aside: #071f36;
    --drop-bg-banner: #1b72e8;
    --drop-success: #198754;
    --drop-alert: #ffc107;
    --drop-dark-alert: #ff9105;
    --drop-warning: #dc3545;
}

/* #region common */

.test{
 width: 1rem;
}

body{
   height: 100vh; 
}

header{
    background-color: var(--drop-dark);
    height: 3.5rem;
    & .logo_mobile{
        width: 2.5rem;
    }
}

aside{
    width: 12rem;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--drop-bg-aside);
    &> .container{
        height: calc(100vh - 3.5rem);
    }
    
    @media screen and (max-width:991.98px) {
        width: 10rem;
    }
    @media screen and (max-width:575.98px) {
        width: 5rem;
    }
}

.jumbotron{
    height: 8rem;
    width: 100%;
    background-color: var(--drop-bg-banner);
}
.content{
    width: 100%;
}

/* #endregion */

/* #region color */

.nav_bg{
    background-color: var(--drop-white);
}

.searchbar_bg{
    background-color: var(--drop-darker);
}

/* #endregion */